body{
    background-color: lightgreen;
}
#menu{
    height: 30%;
    background-color: bisque;
}
#izq{
    float: left;
    width: 10%;
    height: 100%;
    background-color: burlywood;
}
#dcha{
    float: right;
    margin-right: 14.8%;
    width: 10%;
    background-color: lightblue;
}