body{
    background-color: lightskyblue;
}
#menu{
    height: 30%;
    background-color: bisque;
}
a{
    color: black;
    text-decoration: none;
}
#izq{
    float: left;
    width: 3%;
    height: 80%;
}
#dcha{
    float: right;
    margin-right: 2.8%;
    width: 10%;
    height: 80%;
}
h1{
    margin-left: 43%;
}
#menu>div:nth-of-type(1){
    padding-top: 2%;
    padding-bottom: 2%;
    width: 10%;
    text-align: center;
}
#menu>div:nth-of-type(2){
    float: right;
    padding-top: 0.8%;
    margin-top: -4%;
    height: 10%;
    width: 10%;
}
table{
    margin: auto;
    margin-top: 1%;
}
#enlace{
    width: 9%;
    margin-top: 11%;
    margin-left: 9.7%;
    float: left;
}
#autor{
    font-weight: bold;
    width: 12%;
    margin-top: 9.7%;
    margin-left: 10%;
    float: right;
}